/*colors primarily used for notifications; buttons etc*/
:root {
  --c-c-primary: #9ca3af;
  --c-c-secondary: #22d3ee;
  --c-c-info: #e879f9;
  --c-c-success: #4ade80;
  --c-c-warning: #fde047;
  --c-c-error: #ef4444;
  --c-c-grey: #e9e9e9;
}

body {
  background: var(--c-c-grey);
}
